<div class="card fact" style="width: 20rem; display: none">
    <div class="card-body">
        <h2 class="birthday-msg" style="display: none">oh, happy birthday!</br></br></h2>
        <p class="h6 title">On this day:</p>
        <p class="card-text onThisDay"></p>
         <p class="h6 title">Number Trivia:</p>
        <p class="card-text monthTrivia"></p>
        <p class="card-text dayTrivia"></p>
    </div>
</div>